body{
  background:  #f46445;
}
.head{
  text-align: center;
}
.container{
  background: white;
  height: 100%;
}
.ofdropdown{
  text-align: center;
}
.ofText{
  text-align: center;
}
.dropdown {
    position: relative;
    display: inline-block;

}
.dropdownSelect{
  text-align: center;
}
.alert{
  color: crimson;
  text-align: center;
}

.dropdown-content a:hover {background-color: #ddd}


li{
  width: 50%;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
  margin-left: 5px;
  margin-top: 15px;
  display:inline-block;
  background-color: yellow;
  border: 3px solid black;
}
.ofDisplay{
  text-align: center;
  margin-top:10%;

}
.ofDisplay{
  text-align: center;
}
